# Node modules and dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env


# Build and cache
dist/
build/
.cache/
.tmp/
.next/
out/

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files
*.swp
*.tmp
*.temp

# Uploaded or local data
dsa.pdf
*.pdf



